<div class="container">
    <h1 class="page-title">Нейронные сети: распознавание образов и изображений c помощью ИИ</h1>

    <div class="content">
        <h2 class="content__title">Архитектуры нейросетей</h2>
        <div class="content__title__line"></div>
        <div class="content__body">
            <p>Выделяются несколько различных архитектур искусственных НС, в том числе нейросетей для распознавания
                изображений:</p>

            <div class="content__body__items l-flex">
                <button mat-mini-fab color="primary">1</button>
                <div class="l-flex-column">
                    <h4>Многослойный перцептрон</h4>
                    <div class="content__body">
                        Строится из 3+ слоев и применяет нелинейную функцию активации для классификации данных.
                    </div>
                </div>
            </div>

            <div class="content__body__items l-flex">
                <button mat-mini-fab color="primary">2</button>
                <div class="l-flex-column">
                    <h4>Сверточная</h4>
                    <div class="content__body">
                        Содержит сверточные слои
                    </div>
                </div>
            </div>

            <div class="content__body__items l-flex">
                <button mat-mini-fab color="primary">3</button>
                <div class="l-flex-column">
                    <h4>Рекурсивная</h4>
                    <div class="content__body">
                        Глубокая НС, которая формируется применением одних наборов весов рекурсивно над структурой для
                        скалярных или структурированных предсказаний.
                    </div>
                </div>
            </div>

            <div class="content__body__items l-flex">
                <button mat-mini-fab color="primary">4</button>
                <div class="l-flex-column">
                    <h4>Рекуррентная</h4>
                    <div class="content__body">
                        Вариант НС, где связи между нейронами представляют собой направленные циклы.
                    </div>
                </div>
            </div>

            <div class="content__body__items l-flex">
                <button mat-mini-fab color="primary">5</button>
                <div class="l-flex-column">
                    <h4>СДКП</h4>
                    <div class="content__body">
                        Сеть долгой краткосрочной памяти – вид рекуррентной НС, позволяющий максимально точно
                        моделировать временные последовательности, а также характерные для них зависимости в
                        долгосрочной перспективе.
                    </div>
                </div>
            </div>

            <div class="content__body__items l-flex">
                <button mat-mini-fab color="primary">6</button>
                <div class="l-flex-column">
                    <h4>Sequence-to-sequence модель</h4>
                    <div class="content__body">
                        Состоит из 2х рекуррентных НС, которые выполняют функции кодировщика и декодера.
                    </div>
                </div>
            </div>

            <div class="content__body__items l-flex">
                <button mat-mini-fab color="primary">7</button>
                <div class="l-flex-column">
                    <h4>Неглубокие</h4>
                    <div class="content__body">
                        Также пользуются большой популярностью, к примеру, группы неглубоких двухслойных моделей могут
                        использоваться для представления слоев векторами.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
