<div class="container">
    <h1 class="page-title">Актуальность работы</h1>

    <div class="content">
        <div class="content__title__line"></div>
        <div class="content__body">
            <p>Восстановление старых фотографий можно назвать одним из самых кропотливых процессов в редактировании.
                Некоторые снимки приходится восстанавливать буквально по пикселям, что занимает несколько часов.</p>

            <mat-list>
                <div mat-subheader>Классификация дефектов фотографических документов:</div>
                <mat-list-item>
                    <mat-icon mat-list-icon>play_arrow</mat-icon>
                    <div mat-line>Царапины</div>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>play_arrow</mat-icon>
                    <div mat-line>Перегибы</div>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>play_arrow</mat-icon>
                    <div mat-line>Шумы различного происхождения</div>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>play_arrow</mat-icon>
                    <div mat-line>Оборванные углы изображения</div>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>play_arrow</mat-icon>
                    <div mat-line>Выцветание</div>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>play_arrow</mat-icon>
                    <div mat-line>Затемненность/осветленность</div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>

            <p>В дальнейшем изучается только обработка 1) и 3). Как правило, архивные
                фотографии либо уже в черно-белом формате, либо в сепии, поэтому цвет не
                столь важен.</p>
            <p>Будем рассматривать цифровые растровые изображения в градациях серого. В качестве основного источника
                изображений с вышеперечисленными
                дефектами возьмём архивы оцифрованных монохромных фотографий, находящиеся в открытом доступе Europeana.
            </p>
            <p>Задача реставрации состоит в нахождении наилучших методов для реконструкции поврежденного и зашумленного
                изображения. Основной алгоритм -
                классификация точек исходного изображения на «повреждённые» и «неповреждённые» и последующей
                аппроксимации «повреждённых» точек на основе
                имеющихся данных.</p>
        </div>
    </div>
</div>
