<div class="container">
    <h1 class="page-title">Повышение качества изображений</h1>

    <div class="content">
        <h2 class="content__title">Объяснение Upscaler изображений</h2>
        <div class="content__title__line"></div>
        <div class="content__body">
            <p>
                Повышение качества изображения, появившееся как относительно новое слово в настоящее время, привлекло
                большое внимание общественности, так как многие ищут различные способы повышения качества изображения.
                Согласно исследованию, 78% изображений, загружаемых в Интернет, имеют низкое качество, кроме того,
                цифровой шум может искажать визуальные детали изображений, что может еще больше повлиять на решения
                клиентов о покупке и снизить степень удовлетворенности пользователей. Именно так многие отрасли сейчас
                нуждаются в высококачественных изображениях для своего бизнеса. Решения, которые они находят, обычно
                делятся на две категории, одна из них – с помощью традиционных инструментов для редактирования
                изображений, другая – довольно современная: технология ИИ. В то время как вы задаетесь вопросом о
                разнице между традиционным средством повышения качества изображения и средством повышения качества
                изображения с использованием искуственного интелекта. Прокрутите вниз, чтобы узнать!
            </p>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef="let element">Название</th>
                    <td class="column-title" mat-cell *matCellDef="let element"> {{element.title}} </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef="let element">Описание</th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

        <h2 class="content__title">Разница между традиционным повышением качества изображения и поддержкой ИИ</h2>
        <div class="content__title__line"></div>
        <div class="content__body">
            <p>При использовании одного традиционного средства повышения качества изображения для обработки изображений,
            таких как увеличение разрешения, не будет новой информации об изображении, что, другими словами, означает,
            что вы просто не можете добавить дополнительное качество, даже если разрешение было увеличено. Это то, что
            делает ИИ-ускорители изображений такими уникальными. Благодаря глубокому изучению ИИ и бесчисленным
            испытаниям, выполненным на реальных снимках, улучшающие изображения изображения с помощью ИИ распознают
            множество вещей, таких как человеческое лицо и волосы, кирпичи и стены, фон и многие другие объекты. С
            помощью этой способности вы можете заполнить потерянные цвета, детали и текстуры исходных изображений во
            время автоматической обработки.</p>
        </div>

    </div>
</div>
