<div class="container">
    <h1 class="page-title">Повышение качества изображений</h1>

    <div class="content">
        <h2 class="content__title">Photoshop</h2>
        <div class="content__title__line"></div>
        <div class="content__body">
            <p>Photoshop, как известное программное обеспечение для обработки изображений, также может работать как
                средство для повышения качества изображения, в то время как он опирается на традиционную технологию
                обработки изображений вместо передовой технологии искусственного интеллекта. Вместо того, чтобы
                создавать новые пиксели, Photoshop только увеличивает разрешение и размер изображения на основе анализа
                текущих существующих пикселей и информации.</p>

            <div class="l-flex l-flex--justify-center">
                <img src="../../../assets/images/methods/photoshop.jpg">
            </div>
        </div>
    </div>
</div>
