.container {
  width: 80%;
  height: fit-content;
  padding: 20px;
  text-align: center;
  margin: 1% auto;
  box-shadow: 0 0 10px 2px #fea18d, 2px 2px 2px 2px rgba(53, 16, 70, 0.7);
  background-color: #fff;
  border-radius: 20px;
}

.page-title {
  margin: 20px;
  font-size: 2.4rem;
  line-height: 1.17;
}

.content {
  width: 90%;
  margin: auto;

  &__title {
    text-align: left;
    font-size: 1.9rem;
    line-height: 1.17;

    &__line {
      background-color: #429ed7;
      max-width: 50px;
      width: 100%;
      height: 3px;
      display: block;
    }
  }

  &__body {
    text-align: left;
    font-size: 1.3rem;
    line-height: 1.55;
    font-family: 'Open Sans',Arial,sans-serif;
    font-weight: 300;

    &__items {
      align-items: center;
      line-height: 1.17;
    }

    .mat-subheader {
      color: #000;
      text-align: left;
      font-size: 1.3rem;
      line-height: 1.55;
      font-family: 'Open Sans',Arial,sans-serif;
      font-weight: 300;
    }

    .mat-list-item {
      text-align: left;
      font-size: 1.3rem;
      line-height: 1.55;
      font-family: 'Open Sans',Arial,sans-serif;
      font-weight: 300;
    }
  }

  &__card {
    margin: 20px;

    mat-card-header {
      text-align: left;
    }

    &__title {
      font-size: 1.3rem;
    }

    &__subtitle {
      font-size: 1.2rem;
    }

    &__info {

    }
  }
}

.side-menu-items {
  font-size: 1.3rem;
  text-align: left;
  line-height: 1.55;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;

  button {
    font-size: 1.3rem;
    text-align: left;
    line-height: 1.55;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
  }
}

table {
  width: 100%;
}
