<div class="container">
    <h1 class="page-title">Реставрация старых фотографий при помощи нейросети</h1>

    <div class="content">
        <h2 class="content__title">Возможности нейросети в редактировании фотографий</h2>
        <div class="content__title__line"></div>
        <div class="content__body">
            <p>Машинный алгоритм можно научить практически любой операции: распознавать лица, играть в шахматы,
                создавать тексты, генерировать числа и т. д. Главное преимущество использования нейросетей — экономия
                времени. Возможности обучения искусственного интеллекта постоянно расширяются. Привычными навыками
                нейросети стали стилизация фотографий и применение визуальных эффектов. Популярностью пользуется
                программа Prisma, которая предлагает расширенный ряд фильтров. С помощью инструментария AI Portraits
                можно из обычной фотографии создать портрет или пейзаж в стиле знаменитых художников. Нейросеть
                приложения Artisto помогает раскрасить видео за несколько минут, что избавляет пользователя от
                длительной и кропотливой работы над раскадровкой. За считанные секунды можно убрать лишний объект с
                изображения, заменить фон или раскрасить черно-белую фотографию.</p>
            <p>Нейросеть помогает не только редактировать фотографии, но и создавать новые изображения. Алгоритмы
                некоторых фоторедакторов обучены распознавать «каракули», превращая их в качественные рисунки. Загрузив
                желаемые параметры, можно получить несколько вариантов логотипа для своей компании. Нейросеть способна
                создать новое изображение, соединяя два исходных файла, — именно по такому принципу работает сервис
                Ostagram.</p>
        </div>
    </div>
</div>
