<div class="container">
    <h1 class="page-title">Реставрация старых фотографий при помощи нейросети</h1>

    <div class="content">
        <h2 class="content__title">Реставрация фотографий с помощью нейросети</h2>
        <div class="content__title__line"></div>
        <div class="content__body">
            <p>Восстановление старых фотографий можно назвать одним из самых кропотливых процессов в редактировании.
                Некоторые снимки приходится восстанавливать буквально по пикселям, что занимает несколько часов. С
                помощью фоторедактора Movavi реставрация фотографий занимает не более пяти минут. Нейросеть сама
                восстанавливает изображение, от пользователя требуется лишь загрузить отсканированный снимок в программу
                и пару раз кликнуть мышкой.</p>

            <div class="l-flex l-flex--justify-center">
                <img src="../../../assets/images/enhan/enhan1.jpg">
            </div>

            <p>Аналогичные возможности предлагают и другие фоторедакторы. Но только Movavi использует для реставрации
                изображений нейросеть. Машинный алгоритм обучали с помощью десятков тысяч старых фото. Приложение
                постоянно совершенствуется, ведь в процессе эксплуатации обучение продолжается. Фоторедактор убирает
                даже крупные заломы и трещины, не говоря уже о мелких потертостях и дефектах. При желании можно
                доработать снимок: раскрасить черно-белую фотографию, убрать шум и зернистость. С помощью сервисов
                фоторедактора можно отрегулировать баланс белого, сделать автоматическую тоновую и цветокоррекцию.</p>

            <div class="l-flex l-flex--justify-center">
                <img src="../../../assets/images/enhan/enhan2.jpg">
            </div>

            <p>Процесс восстановления старых фотографий в редакторе Movavi 6.0 проходит в несколько этапов. После
                открытия программы нужно перейти в отдел «Реставрация», выбрать необходимые опции и нажать кнопку
                «Реставрировать». В зависимости от размера и разрешения изображения процесс может длиться от нескольких
                секунд до десяти минут. При наличии мелких дефектов после реставрации (такое может быть — ведь программа
                постоянно находится в процессе обучения) нужно перейти во вкладку «Удаление объектов» и завершить работу
                с помощью инструментов «Штамп» или «Кисть». При желании можно выполнить цветокоррекцию в разделе
                «Улучшение фото» и уменьшить зернистость изображения в разделе «Устранение шумов».</p>
        </div>
    </div>
</div>
